<h1>All Neighborhoods with Food Trucks</h1>

<% @locations.each do |location| %>
  <p><a href= <%="/locations/#{location.slug}" %> > <%= "#{location.neighborhood}, #{location.zipcode}"%></a></p>
<% end%>
